<section id="" class="team" style="margin-bottom: 15px;">

    <div class="container" data-aos="fade-up">

        <h2>The Team</h2>
        <p>Team WADABA team is a group of young aspiring African scholars from different nationalities. They are all
            experts
            in the field of Water who came together under the Pan African University Institute of Water and Energy
            Sciencesincluding climate change (PAUWES)-Algeria and developed an innovative idea-Water Data Bank, geared
            towards the
            provision of solutions related to water pollution in the African continent and Likasi in the Democratic
            Republic of
            Congo in particular.</p>
    </div>
</section>
<!-- ======= Team Section 2 ======= -->
<section id="team" class="team">

    <div class="container" data-aos="fade-up">
       

        <div class="row gy-4">

            <div  *ngFor="let team of data.teams;let i=index" class="coll col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="{{i*100+100}}">
                <div class="member">
                    <div class="member-img">
                        <img src="{{team.img}}" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>{{team.title}}</h4>
                        <!-- <span>Chief Executive Officer</span> -->
                        <p>{{team.description}}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section><!-- End Team Section 2 -->
